# Dependencies
node_modules/
.npmrc
package-lock.json
.DS_Store

# Virtual Environment
.venv/

# Build Artifacts
web/dist/
toolbox/hapray-toolbox*.zip
*.tgz
*.zip
build
dist
temp_release_test/

# Third-party and Generated Directories
third-party/HapRayDep/
third-party/trace_streamer_binary/
third-party/xvm/
perf_testing/hapray-toolbox/
perf_testing/sa-cmd/
perf_testing/.tox
perf_testing/tmp_hypium/
perf_testing/ts_tmp.perf.data
third-party/HiSmartPerf_20250109/
perf_testing/hypium-5.0.7.200/
perf_testing/binary_analysis_report.xlsx
perf_testing/files_results_cache/

# Log
*.log

# Performance Testing Reports
perf_testing/scripts/reports/

# Experimental
experiments_ignore/

# staticanalyzer
sa/lib
hapray-sa

# Cache directories
.cache/
.npm-cache/

