# 格式：规范姓名 <规范邮箱> <提交中的姓名> <提交中的邮箱>
SunBo <bb.sunbo@huawei.com> code-sunbo <bb.sunbo@huawei.com>
SunBo <bb.sunbo@huawei.com> bbsun <bb.sunbo@huawei.com>
B1A2 <B1A2@noreply.gitcode.com> code-sunbo <bb.sunbo@huawei.com>
han hu <543160303@qq.com> code-sunbo <bb.sunbo@huawei.com>
han hu <huhanGitCode@noreply.gitcode.com> huhanGitCode <huhanGitCode@noreply.gitcode.com>
han hu <543160303@qq.com> han hu <543160303@qq.com>
